* {
  box-sizing: border-box;
}

body {
  background: #ebe9d7;
}

.App, #root {
  min-height: 1024px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
